<section class="users-section">
  <ul class="users-list">
    <% @users.each do |user| %>
      <li>
        Name: 
        <span class="profile-link">
          <%= link_to user.name,  user_path(user), class: 'profile-link' %>
          <%= link_to 'Add Friend',  friends_path(receiver_id: user), class: 'add-friend-link' %>
          Testing <%= user.id%> hehe<%= current_user.id%>
        </span>
      </li>
    <% end %>
  </ul>
</section>
